.container {
    display: grid;
    margin: 30px auto;
    /* fit 9:16 to width */
    height: 100vh;
    width: 71vh;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.2fr; 
    gap: 7px 7px; 
    grid-template-areas: 
    "P1 . P3 . P5"
    "P1 P2 P3 P4 P5"
    ". P2 . P4 ."
    "P6 P6 P6 P6 P6"
    "P6 P6 P6 P6 P6"
    "P6 P6 P6 P6 P6"
    "P6 P6 P6 P6 P6"; 
}
.P1 {   
    grid-area: P1;
    /* each small top pattern has single color, I feel white background fits with bright "macaron" color, it gives people a sort of warm and happy feeling*/
    background-color: rgb(241, 206, 110);
    background-image: linear-gradient(180deg, white, rgb(241, 206, 110) 20% );
    /*All the edges that are next to the other pattern I've use a dotted border, it means they're related. And all the outer borders I've drawn solid lines. Cause I want the picture to look like a whole. */
    border: solid;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-top-left-radius: 80px 80px;
 }
.P2 { 
    grid-area: P2;
    background-color: rgb(245, 179, 103);
    background-image: linear-gradient(180deg, white, rgb(245, 179, 103) 20% );
    border: solid;
    border-right-style: dotted;
    border-left-style: dotted;
    border-bottom-style: dotted;
 }
.P3 { 
    grid-area: P3;
    background-color: rgb(205, 157, 233);
    background-image: linear-gradient(180deg, white, rgb(205, 157, 233) 20% );
    border: solid;
    border-right-style: dotted;
    border-left-style: dotted;
    border-bottom-style: dotted;
 }
.P4 { 
    grid-area: P4;
    background-color: rgba(218, 77, 147, 0.8);
    background-image: linear-gradient(180deg, white, rgba(218, 77, 147, 0.8) 20% );
    border: solid;
    border-right-style: dotted;
    border-left-style: dotted;
    border-bottom-style: dotted;
 }
.P5 { 
    grid-area: P5;
    background-color: rgb(240, 131, 131);
    background-image: linear-gradient(180deg, white, rgb(240, 131, 131) 20% );
    border: solid;
    border-left-style: dotted;
    border-bottom-style: dotted;
    border-top-right-radius: 80px 80px;
 }
.P6 { 
    grid-area: P6;
    /*The bottom pattern color is combined all top patterns color, it's a mixed color, show the wonderful effect. */
    background-color: rgb(240, 131, 131);
    background-image:  linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ), linear-gradient(127deg, rgb(219, 195, 130 ), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(112, 212, 151, 0) 70.71%);
      border: solid;
      border-top-style: dotted;
      border-bottom-left-radius: 80px 80px;
      border-bottom-right-radius: 80px 80px;
  };
 
