/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  --col-01:#cc7f26;
  --col-02:#010501;
  --col-03:#10106915;
  --col-04:#dfd6a5;
  --border: 1px solid var(--col-02);
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
}

/* Modify grid-template-columns to create a 4-column layout，information would be more orderliness */
.RecipeBox{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  border: var(--border);
  background-color: var(--col-04);
  padding: 1rem;
}

.FilterSection{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.FilterBox{
  margin-right: 0.5rem;
}

.FilterButton{
  background-color: var(--col-01);
  color: #e2c4c4;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.FilterButton:hover{
  background-color: var(--col-03);
}

.SelectedFilter{
  color: #e7c6c6;
  padding: 0.5rem 1rem;
}

.RecipeLink {

  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-decoration: underline;
}

.RecipeName{
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.Author{
  font-size: 0.8rem;
}

.RecipeImageContainer{
  position: relative;
  overflow: hidden;
  padding-bottom: 100%; 
}

.RecipeImg{
  width: 100%;
  height: 100%; 
  object-fit: cover;
  transition: transform 0.3s ease;
}

.RecipeImg:hover{
  transform: scale(1.1);
}

.Attribution{
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.Publisher {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.Cuisine {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.TimeToCook {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.SkillLevel {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.Course {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.Servings {

  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.Dietary {
 
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.DatePublished {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.DateUpdated {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.SpecialEquipment {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}


